/*Colour*/


:root {
  /*Defines a CSS variable*/
  --dark-brown: #343233;
  --brown: #9b9180;
  --light-brown: #584b4f;
  --light-beige: #baab98;
  --beige: #8d8273;
  --easy-yellow: #ffd152;
  --orange: #d36e2d;
  --blood-orange: #fa3d06;
  --light-green: #78af9f;
  --light-blue: #649bc6;
  --light-light: #f7f8f8;
  --slate-black: #242424;
  /*Dark blue accent*/
  --accent: #1f222d;
  --accent-2: #242426;
  --accent-3: #ffd152;
  /*--accent-7: #1b1e28;*/
  /* red accent */
  --accent-4: #c9171c;
  --accent-5: #e93028;

  */

  /* possible colour scheme */


}

/*layout*/
body {
  margin: 0;
  font-family: georgia, serif;
  background-color: var(--light-light);
  font-size: 0.95em;
  line-height: 2.1em;
}

ul {
  list-style: square;
}

::selection {
  background: var(--accent-5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--easy-yellow); /* Gecko Browsers */
}

.flex-container {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;

  justify-content: center;
}

.wrapper {
  /*max-width: 978px;*/
  background-color: var(--light-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}

.inner-wrapper {
  max-width: 978px;
  background-color: white;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  /*background-color: var(--accent);*/
  background-image: linear-gradient(to right, var(--accent), var(--accent-2));
  text-align: right;
  /*height: 35vh;*/
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  padding-top: 10vh;
  min-height: 250px;
  overflow-x: hidden;
}

.my-name {
  font-family: century gothic, verdana, sans-serif;
  /*text-transform: uppercase;*/
  text-align: left;
  color: var(--light-light);
  font-size: 3.7em;
  font-weight: 800;
  line-height: 1.1em;
  letter-spacing: 0.1em;
}

.last-name {
  font-weight: 100;
}

h2 {
  color: var(--accent-3);
  letter-spacing: 0.03em;
  transition: 0.6s ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}



.section1, .section-2, .section-3, .section-4{
  padding: 5vh 7vw 5vh 7vw;
}

.center-standout {
  color: black;
  padding: 1vh 0 6vh 0;
  font-size: 1.1em;
}

.highlight {
  display: inline;
  background: var(--easy-yellow);
  padding: .7rem;
  font-weight: 400;

  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  transition: 0.15s ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}


.highlight:hover {
  background: var(--accent);
  color: white;
}


.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}
/*
.columns {
  display: flex;
  flex: 1 1 15vh;
  flex-wrap: wrap;
  height: 400px;
  background-color: var(--orange);

  white-space: pre-wrap;
  overflow: auto;
  text-overflow: ellipsis;
}
*/

.newspaper {
  -webkit-columns: 37vh 2; /* Chrome, Safari, Opera */
  -moz-columns: 37vh 2; /* Firefox */
  columns: 2;
}

.newspaper p {
  margin-top: 0;
  /*background-color: var(--easy-yellow);*/
}



.section-2 {
  /*background-color: var(--accent-3);*/
  background-image: linear-gradient(to right, var(--accent), var(--accent-2));
  display: flex;
  flex-wrap: wrap;
  padding-right: 60px;
}

.section-2 h3 {
  color: var(--accent-3);
  font-size: 2.2em;
  /*font-family: century gothic, verdana, sans-serif;*/
  font-weight: 800;
}

.section-2 p, ul, li{
  color: var(--light-light);
  font-size: 1.1em;
  line-height: 1.9em;
  font-family: century gothic, verdana, sans-serif;
}

li h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2em;
}

.li-p {
  margin: 0 auto 10px;
  padding: 0;
  color: var(--accent-3) !important;
  font-size: 0.75em !important;
  /*font-family: georgia, serif !important;*/
  font-weight: 400 !important;
}

.left-side {
  width: 60%;
}

.right-side {
  width: 30%;
}

.profile-pic {
  width: 50vw;
  border: 8px transparent;
  border-radius: 10000px;
  border-style: solid;

  transition: 0.6s ease-in-out;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.profile-pic:hover {
  border: 8px var(--accent-3);
  border-style: solid;
  transition: 0.6s ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.section-3 h3 {
  color: var(--accent-1);
  font-size: 2.2em;
  /*font-family: century gothic, verdana, sans-serif;*/
  font-weight: 800;
}

.section-3 li {
  color: var(--accent-2);
}

.section-3 li h4 {
  font-weight: 400;
}

.li-p2 {
  margin: 0 auto 10px;
  padding: 5px;
  color: var(--accent-2) !important;
  font-size: 0.75em !important;
  /*font-family: georgia, serif !important;*/
  font-weight: 400 !important;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  margin-top: 25px;
  align-items: left;
  flex-wrap: wrap;
}
.portfolio-item {
  max-width: 90%;
  height: 450px;

}

/*.odd-numbers {
 margin-right: 40px;
}
*/

.portfolio-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.section-2 h3 {
  color: var(--light-light);
}

.section-2 h4 {
  font-weight: 400;
  padding: 0;
  margin: 10px 0;
  color: var(--light-light);
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: century gothic, verdana, sans-serif;
  text-decoration: none;
}

.section-2 h4:hover {
  color: var(--accent-3);
}

a {
  text-decoration: none;
}

a img {
  border: solid 5px transparent;

  transition: 0.3s ease-in-out;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

a img:hover {
  border-color: var(--accent-3);
}

/********Animations********/

/*Scroll Icon*/
.scroll-down {
  background-color: blue;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 85%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
  }


  /*Border Box*/

.border-box {
  border: var(--accent) hidden 1px ;
  padding: 30px 60px 30px 60px;
  transition: 0.6s ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

  .border-box:hover{
  /*background-color: var(--accent-7);*/
  border: solid 1px var(--accent-3);
  box-shadow: 10px 10px var(--accent-3);
  }



  /********Responsiveness********/

  /*@media only screen and (max-width: 768px)*/

  @media only screen and (max-height: 500px) {
    .icon-scroll {
      display: none;
    }
  }

   @media only screen and (max-width: 978px) {
    /* For mobile phones: */

    .section1 {
      padding: 5vh 5vh 5vh 5vh;
    }

    .newspaper {
      -webkit-columns: 37vh 2; /* Chrome, Safari, Opera */
      -moz-columns: 37vh 2; /* Firefox */
      columns: 1;
    }

    .section-2 {
      display: block;
    }

    .left-side {
      width: 100%;
    }

    .right-side {
      width: 100%;
      text-align: center;
    }

    .my-name {
      font-size: 9vw;
    }

    .center-standout {
      line-height: 2.4em;
    }

    .portfolio-container {
      flex-direction: column;
    }

  }

/* Failed Border control
  h2:hover {
    content: "";
    float:right;
    width: 78%;
    border-bottom: 1px solid;
  }
  */
